<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|large"}}},"className":"site-content"} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--large)">
	<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
	<article class="wp-block-group">
		<!-- wp:group {"tagName":"header","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-small","left":"30px","right":"30px"}}},"backgroundColor":"teal","textColor":"base","className":"entry-header","layout":{"type":"constrained","wideSize":"1400px"}} -->
		<header class="wp-block-group alignfull entry-header has-base-color has-teal-background-color has-text-color has-background" style="padding-top:var(--wp--preset--spacing--x-small);padding-right:30px;padding-bottom:var(--wp--preset--spacing--x-small);padding-left:30px">
			<!-- wp:post-title {"level":1,"align":"wide","fontSize":"large"} /-->
		</header>
		<!-- /wp:group -->
		<!-- wp:post-content {"layout":{"type":"constrained","wideSize":"1400px"}} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->